#page-structure{
    height: 100vh;
  }
  
.header-text h1 , .header-text h2 {
    font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight: 900 !important;
    text-shadow: 1px 1px 20px #333;
}

.back-block-green-bottom-right::before , .back-block-green-bottom-right:after {
    display: none;
}
  

@media (max-width: 768px) {

    #image {
        height: 100vh;
        object-fit: cover;
    }
}

h3 {
    font-size: 3rem;
    font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif !important;
    display: inline-block;
    line-height: 1;
    letter-spacing: 1rem;
    font-weight: bold;
    background: transparent;
    padding: 0;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotateZ(45deg);
    opacity: .5;
    -webkit-font-smoothing: unset;
}


/* contents */
.area {
    overflow: hidden;
    background-image: url(img/infomation.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
  }

.wrap {
    display: flex;
}

.wrap1 {
    
}

.item {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.item01 {
    background-image: url(img/about.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, .8);
    background-blend-mode: lighten;
    margin-top: -2rem;
    color: #000;
}

.item01 h3 {
    color: #333;
}

.item01 {
    background-image: url(img/about.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, .8);
    background-blend-mode: lighten;
    margin-top: -2rem;
    color: #000;
}

.item02 h4 , .item05 h4 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}